---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, "");
const isInternal =
  href &&
  ((href as string).startsWith("/") || (href as string).startsWith("#"));
---

<a
  href={href}
  class={`flex items-center text-lg font-semibold sm:text-sm leading-none ${
    isInternal ? "" : "hover:underline"
  } ${isActive ? "text-slate-900" : "text-slate-600"}`}
  {...props}
>
  <slot />
</a>
