---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, "");
---

<a
  href={href}
  class={`inline-block ${isActive ? "underline font-bold" : "no-underline"}`}
  {...props}
>
  <slot />
</a>
