---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Plausible from "@components/Plausible.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <slot name="seo" />
    <Plausible />
  </head>
  <body class="bg-neutral-100">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
