---
import BaseLayout from "@layouts/Base.astro";
import PageSEO from "@components/SEO/Page.astro";
---

<BaseLayout>
  <PageSEO slot="seo" title="Home" />

  <h1>Hello, Astronaut!</h1>
</BaseLayout>
