---
import BaseLayout from "@layouts/Base.astro";
import PageSEO from "@components/SEO/Page.astro";

import BlogLayout from "@layouts/Blog.astro";
import { GetBlogData } from "@lib/Queries";

const posts = await GetBlogData();
---

<BaseLayout>
  <PageSEO
    slot="seo"
    title="Blog"
    description="Articles about programming, new technologies, frameworks ect."
  />
  <main class="max-w-5xl pt-8 px-8 mx-auto mt-14">
    <BlogLayout posts={posts} />
  </main>
</BaseLayout>
