---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead />
    <slot name="seo" />
  </head>
  <body class="bg-neutral-100">
    <Header />
    <main class="max-w-5xl pt-8 px-8 mx-auto mt-14">
      <slot />
    </main>
    <Footer />
  </body>
</html>
